@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Inter', sans-serif;
}

.bg-pattern{
    background-image: url('../public/Background-pattern.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.people{
    background: url('../public/images/people.png'), lightgray 50% / cover no-repeat;
}

.hero-text{
    line-height: 72px; /* 112.5% */
    letter-spacing: -1.28px;
}

.arrow{
    width: 238.234px;
    height: 200.324px;
    /* transform: rotate(-154.745deg); */
    position: absolute;
    right: 70%;
    left: 30%;
    top: -190px;
}


.action-img{
    background-image: url('../public/images/Screen-mockup.png');
    background-repeat: no-repeat;
}